html{
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #121212;
  
}   

h1 {
  font-size: 40px;
  
  font-weight: 900px;
  padding: 60px 40px;
  display:flex;
  justify-content: center;
  max-width: auto;
  text-align: center;
}

.Main{
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 60%;
  margin-top:20px;
  padding: 40px 20px;
  border-style: solid;
  border-width: 3px;
  border-color:#1B9E3A;
  border-radius: 30px;
  box-shadow: 5px 4px 15px 0px magenta;
}


